/*
 Description:  Custom CSS :)
 Author: Géraud Besson    
*/

/* 
1. Header (Logo, image & menu)
2. Contener Chiffres
3. Contener Blog
4. Contener Équipe
5. Footer, pied de page
*/

/* 1. Header (Logo, image & menu) */

body {
  margin: 0;
}

/* Menu smartphone & tablette */
#header {
  max-width: 100%;
  margin: auto;
}
#header .top-header {
  flex-wrap: nowrap;
  overflow-x: auto;
  position: relative;
  z-index: 20;
  position: fixed;
  padding: 0;
  margin-top: -89.25px;
}
#header .container-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 20px 150px;
}
#header .top-header .header-navigation {
  font-family: "Montserrat", sans-serif;
  text-decoration: none;
}
#header .top-header .header-navigation ul {
  margin: 0;
}
#header .top-header .header-navigation span {
  color: #000;
}
#header .top-header .header-navigation span:hover {
  color: #ffdd00;
}
#header .bottom-header.blog {
  padding: 240px 0 280px;
}
/* Header Tablette */
@media (min-width: 992px) and (max-width: 1477px) {
  #header .container-header {
    margin: 20px 50px;
  }
}
/* Header smartphone */
@media (max-width: 992px) {
  #header .top-header {
    width: 100%;
  }
  #header .container-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px 20px;
  }
  #header .top-header .header-navigation {
    display: none;
  }
  #header img:first-child {
    width: 150px;
    margin-top: 5px;
    margin-left: 5px;
  }
  #header .bottom-header.blog {
    padding: 130px;
  }
  .open-responsive-menu {
    width: 52px;
    height: 52px;
    background-color: #000000;
    color: #fff;
  }
  .fa-bars:before {
    display: flex;
    margin-top: -10px;
    justify-content: center;
  }
  .fa-times:before {
    display: flex;
    margin-top: -10px;
    justify-content: center;
  }
  .responsive-menu {
    background-color: #001f44;
    overflow: hidden;
    position: fixed;
    transition: height 0.3s ease;
    animation-duration: 0.3s;
    animation-fill-mode: forwards;
  }
  .responsive-menu.active {
    height: 100vh;
    animation-name: openMenu;
    margin-top: -10px;
    padding-top: 25px;
    z-index: 10;
  }
  @keyframes openMenu {
    0% {
      transform: translateY(-100%);
    }
    100% {
      transform: translateY(0);
    }
  }
  .responsive-menu.closing {
    animation-name: closeMenu;
  }
  @keyframes closeMenu {
    0% {
      transform: translateY(0);
    }
    100% {
      transform: translateY(-100%);
    }
  }
  .responsive-menu ul {
    list-style-type: none;
    padding-left: 0;
  }
  .responsive-menu ul li {
    padding-left: 25px;
    background-image: none;
  }
  .responsive-menu ul li a {
    color: #fff;
    border: none;
    text-decoration: none;
    font-family: Arial;
    font-size: 1.3rem;
    line-height: 1.2rem;
    text-align: left;
  }
  .responsive-menu ul li a:hover {
    color: #ffdd00;
  }
}
.responsive-menu {
  display: none;
}
.responsive-menu.active {
  display: block;
}
.responsive-nav {
  display: none;
}
.responsive-nav.active {
  display: block;
}
@media (max-width: 768px) {
  #header .bottom-header {
    padding: 150px 0px;
    background-color: #eaeaea50;
  }
  #header .bottom-header .container {
    width: 100%;
    margin: auto;
  }
  #header .bottom-header .container .title {
    font-family: "Montserrat", sans-serif;
    font-size: 3rem;
  }
}
@media (min-width: 768px) {
  #header .bottom-header {
    background-color: #eaeaea50;
  }
  #header .bottom-header .container {
    width: 100%;
    margin: 0 auto;
    padding: 0;
  }
  #header .bottom-header .container .title {
    font-family: "Montserrat", sans-serif;
    font-size: 3rem;
  }
}
.separateur {
  border: solid #001f44 1px;
  max-width: 10%;
  margin: auto;
  margin-top: 25px;
  margin-bottom: 25px;
}

/* 2.Contener chiffres */
#chiffres {
  margin: 50px 0px;
}
#chiffres .chiffres-title {
  font-family: "Montserrat", sans-serif;
  font-size: 2.25rem;
  text-align: center;
  color: #001f44;
  max-width: 1366px;
  margin: auto;
  box-sizing: border-box;
}
.chiffres-content {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin: auto;
}
/* Contener Chiffres Affichage PC */
@media (min-width: 1477px) {
  .chiffre-incubé-1,
  .chiffre-incubé-2,
  .chiffre-incubé-3,
  .chiffre-incubé-4,
  .chiffre-incubé-5 {
    font-family: "Montserrat", sans-serif;
    font-size: 1.5rem;
    text-align: center;
    width: 16%;
    box-shadow: 0px 2px 4px #eaeaea;
    background-color: #eaeaea;
    border-radius: 5px;
    padding-top: 20px;
  }
}
/* Contener Chiffre Affichage Tablette */
@media (min-width: 768px) and (max-width: 1477px) {
  .chiffre-incubé-1,
  .chiffre-incubé-2,
  .chiffre-incubé-3,
  .chiffre-incubé-4,
  .chiffre-incubé-5 {
    font-family: "Montserrat", sans-serif;
    font-size: 1.5rem;
    text-align: center;
    width: 30%;
    box-shadow: 0px 2px 4px #eaeaea;
    background-color: #eaeaea;
    border-radius: 5px;
    padding-top: 20px;
  }
  .chiffre-incubé-4,
  .chiffre-incubé-5 {
    margin-top: 20px;
  }
}
/* Contener Chiffre Affichage Smartphone */
@media (max-width: 768px) {
  #chiffres {
    margin: 25px 0px;
  }
  .chiffres-content {
    display: flex;
    flex-direction: column;
    gap: 25px;
    margin: auto;
  }
  .chiffre-incubé-1,
  .chiffre-incubé-2,
  .chiffre-incubé-3,
  .chiffre-incubé-4,
  .chiffre-incubé-5 {
    font-family: "Montserrat", sans-serif;
    font-size: 1.5rem;
    text-align: center;
    width: 75%;
    margin: auto;
    box-shadow: 0px 2px 4px #eaeaea;
    background-color: #eaeaea;
    border-radius: 5px;
    padding-top: 20px;
  }
}
.chiffre-incubé-1,
.chiffre-incubé-5 {
  color: #ffdd00;
}
.chiffre-incubé-2,
.chiffre-incubé-4 {
  color: #1193d4;
}
.chiffre-incubé-3 {
  color: #38b074;
}
.chiffre {
  font-size: 2rem;
  font-weight: 800;
}
.texte {
  font-size: 1.4rem;
  font-weight: 600;
}

/* 3.Contener blog*/
#blog {
  background-color: #eaeaea;
  padding: 50px 0;
}
#blog .blog-post {
  margin-bottom: 0;
}
#blog .blog-post .blog-post-title {
  font-family: "Montserrat", sans-serif;
  font-size: 2.25rem;
  color: #001f44;
  text-align: center;
  margin: auto;
  padding: 20px 20px 0px 20px;
  box-sizing: border-box;
}
#blog .blog-post .subtitle {
  color: #000;
  font-family: "Montserrat", sans-serif;
  text-align: center;
  font-size: 1.3rem;
  max-width: 1366px;
  margin: auto;
  padding: 20px;
  box-sizing: border-box;
}
.blog-post-entry < * {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.bloc_prog_spark img,
.bloc_prog_scale img,
.bloc_prog_start img {
  margin: 0 auto;
  opacity: 0;
  width: 50px;
  height: auto;
  float: left;
  z-index: -1;
}
.blog_parcours_caption {
  font-size: 1.15rem;
  font-family: "Montserrat", sans-serif;
}
.blog_parcours_content {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
}

/* Bouton voir plus */
.accordeon-content {
  display: none;
}
.accordeon.active .accordeon-content {
  display: block;
  font-size: 1rem;
  font-family: "Montserrat", sans-serif;
  max-width: 1000px;
  margin: auto;
}
.accordeon.active .accordeon-button-open {
  display: none;
}
.accordeon-button-open,
.accordeon-button-close {
  background-color: transparent;
  color: black;
  width: 100%;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  margin-top: 20px;
  cursor: pointer;
  border: none;
}
/* Contener Blog Affichage Smartphone */
@media (max-width: 768px) {
  #blog .blog-post .blog-post-title {
    padding: 10px;
  }
  #blog .blog-post .subtitle {
    margin: 0;
    padding: 10px 10px 25px 10px;
  }
  .blog-post-entry {
    padding: 25px 0px;
  }
  .bloc_prog_spark,
  .bloc_prog_scale,
  .bloc_prog_start {
    display: flex;
    flex-direction: column;
    max-width: 75%;
    margin-top: 20px;
    text-align: center;
    padding: 20px;
    margin: 1rem auto;
    border: solid #001f44 1px;
  }
  .bloc_prog_spark {
    background-color: #1193d4aa;
    transition: background-color 1.5s ease;
  }
  .bloc_prog_scale {
    background-color: #38b074aa;
    transition: background-color 1.5s ease;
  }
  .bloc_prog_start {
    background-color: #ffdd00aa;
    transition: background-color 1.5s ease;
  }
  .bloc_prog_start:hover,
  .bloc_prog_spark:hover,
  .bloc_prog_scale:hover {
    background-color: #fff;
    border: solid #fff 1px;
    overflow: hidden;
    border: solid #001f44 1px;
  }
  .bloc_prog_spark img,
  .bloc_prog_scale img,
  .bloc_prog_start img {
    transform: translateY(-100px);
    transition: opacity 0.5s linear, transform 0.5s linear;
  }
  .bloc_prog_spark:hover img,
  .bloc_prog_scale:hover img,
  .bloc_prog_start:hover img {
    opacity: 1;
    transform: translateY(0);
    z-index: 1;
  }
  .bloc_prog_spark h3,
  .bloc_prog_scale h3,
  .bloc_prog_start h3 {
    line-height: 50px;
    margin: 0;
    font-family: "Montserrat", sans-serif;
    font-size: 2rem;
    font-weight: 800;
    color: #001f44;
    transform: translateY(-50px);
    transition: opacity 0.5s linear, transform 0.5s linear;
  }
  .bloc_prog_spark:hover h3,
  .bloc_prog_scale:hover h3,
  .bloc_prog_start:hover h3 {
    transform: translateY(0);
    margin: 0;
  }
  .blog_parcours_content {
    display: block;
    text-align: center;
  }
  .blog-post-entry .bloc_prog_spark .blog_parcours_content p,
  .blog-post-entry .bloc_prog_scale .blog_parcours_content p,
  .blog-post-entry .bloc_prog_start .blog_parcours_content p {
    margin: 0;
    width: 100%;
    font-size: 20px;
    line-height: 1.75rem;
    font-family: "Montserrat", sans-serif;
    font-size: 1rem;
  }
  .blog-post-entry .bloc_prog_spark .blog_parcours_content p:first-child,
  .blog-post-entry .bloc_prog_scale .blog_parcours_content p:first-child,
  .blog-post-entry .bloc_prog_start .blog_parcours_content p:first-child {
    margin-bottom: 20px;
  }
  .accordeon.active .accordeon-content {
    border-top: solid 1px;
    margin-top: 15px;
  }
}
/* Contener Chiffre Affichage PC */
@media (min-width: 768px) {
  .bloc_prog_spark,
  .bloc_prog_scale,
  .bloc_prog_start {
    padding: 20px;
    max-width: 1200px;
    margin: 1rem auto;
    border: solid #001f44 1px;
  }
  .bloc_prog_spark {
    background-color: #1193d4aa;
    transition: background-color 1.5s ease;
  }
  .bloc_prog_scale {
    background-color: #38b074aa;
    transition: background-color 1.5s ease;
  }
  .bloc_prog_start {
    background-color: #ffdd00aa;
    transition: background-color 1.5s ease;
  }
  .bloc_prog_start:hover,
  .bloc_prog_spark:hover,
  .bloc_prog_scale:hover {
    background-color: #fff;
    border: solid #001f44 1px;
    overflow: hidden;
  }
  .blog_parcours_content {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
  }
  .bloc_prog_spark img,
  .bloc_prog_scale img,
  .bloc_prog_start img {
    margin-right: 20px;
    transform: translateX(-100%);
    transition: opacity 0.5s linear, transform 0.5s linear;
  }
  .bloc_prog_spark:hover img,
  .bloc_prog_scale:hover img,
  .bloc_prog_start:hover img {
    opacity: 1;
    transform: translateX(0);
    z-index: 1;
  }
  .bloc_prog_spark h3,
  .bloc_prog_scale h3,
  .bloc_prog_start h3 {
    line-height: 50px;
    margin: 0;
    font-family: "Montserrat", sans-serif;
    font-size: 2.25rem;
    font-weight: 800;
    color: #001f44;
    transform: translateX(-70px);
    transition: opacity 0.5s linear, transform 0.5s linear;
  }
  .bloc_prog_spark:hover h3,
  .bloc_prog_scale:hover h3,
  .bloc_prog_start:hover h3 {
    transform: translateX(0);
    margin: 0;
  }
  .blog-post-entry .bloc_prog_spark .blog_parcours_content p,
  .blog-post-entry .bloc_prog_scale .blog_parcours_content p,
  .blog-post-entry .bloc_prog_start .blog_parcours_content p {
    margin: 0;
    width: 50%;
    font-size: 20px;
    line-height: 2rem;
    font-family: "Montserrat", sans-serif;
    font-size: 1rem;
    margin-right: 20px;
    margin-left: 20px;
  }
}
.rejoindre {
  display: flex;
  margin: auto;
  background-color: #001f44;
  color: #fff;
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  text-align: center;
  padding: 15px 50px;
  margin-top: 50px;
}
.markup-format a {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #000000;
  text-decoration: none;
  border: solid #000000 1px;
  padding: 10px;
  max-width: 250px;
  margin: auto;
}

/* 4.Equipe */
#Equipe {
  margin: 50px 0px;
}
#Equipe .Equipe-title {
  font-family: "Montserrat", sans-serif;
  font-size: 2.25rem;
  text-align: center;
  color: #001f44;
  max-width: 1366px;
  margin: auto;
  box-sizing: border-box;
}
.Equipe-content {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin: auto;
}
.Nom {
  font-size: 1.4rem;
  font-weight: 800;
  color: #000;
}
.Poste {
  font-size: 1.2rem;
  font-weight: 600;
}
.Poste-2 {
  font-size: 1rem;
  font-weight: 500;
  font-style: italic;
  color: #000;
}
/* Contener Chiffre Affichage PC */
@media (min-width: 768px) {
  .Equipe-membre-1,
  .Equipe-membre-2,
  .Equipe-membre-3,
  .Equipe-membre-4,
  .Equipe-membre-5 {
    font-family: "Montserrat", sans-serif;
    font-size: 1.5rem;
    text-align: center;
    width: 25%;
    box-shadow: 0px 2px 4px #747474;
    border-radius: 5px;
    padding-top: 25px;
  }
}
/* Contener Chiffre Affichage Tablette & Smartphone */
@media (max-width: 1080px) {
  #Equipe {
    margin: 25px 0px;
  }
  .Equipe-content {
    display: flex;
    flex-direction: column;
    gap: 25px;
    margin: auto;
  }
  .Equipe-membre-1,
  .Equipe-membre-2,
  .Equipe-membre-3,
  .Equipe-membre-4,
  .Equipe-membre-5 {
    font-family: "Montserrat", sans-serif;
    font-size: 1.5rem;
    text-align: center;
    width: 75%;
    margin: auto;
    box-shadow: 0px 2px 4px #747474;
    border-radius: 5px;
    padding-top: 25px;
  }
}
.Equipe-membre-1,
.Equipe-membre-5 {
  color: #ffdd00;
}
.Equipe-membre-2,
.Equipe-membre-4 {
  color: #1193d4;
}
.Equipe-membre-3 {
  color: #38b074;
}
.Equipe {
  font-size: 2rem;
  font-weight: 800;
}

/* 5.Footer, Pied de page */
#footer {
  background-color: #001f44;
}
#footer .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1050px;
  padding-left: 15px;
  padding-right: 15px;
  margin: auto;
  color: azure;
}
#footer .container .widget_text {
  padding: 0;
}
#footer .container .button {
  padding: 10px;
  border: solid #fff 1px;
  background-color: #fff;
}
#footer .container .button .btn-footer {
  color: #001f44;
  font-family: "Montserrat", sans-serif;
  text-decoration: none;
  font-size: 1rem;
  font-weight: 800;
}
#footer .container .button .btn-footer:hover {
  color: #eaeaea;
  background-color: #001f44;
}
#footer .container .droits {
  padding: 10px;
  color: #fff;
  font-family: "Montserrat", sans-serif;
  text-decoration: none;
  font-size: 1rem;
  font-weight: 800;
}
/* Contener Chiffre Affichage Smartphone */
@media (max-width: 768px) {
  #footer .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    color: azure;
    gap: 20px;
  }
}